DATABASE_URL=changeme

BETTER_AUTH_SECRET=changeme
BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=https://your-app.com

GOOGLE_OAUTH_CLIENT_ID=changeme.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

N8N_KEY=
N8N_WEBHOOK_URL=
N8N_AI_SYNC_URL=
