name: Vercel Preview Deployment

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel env info
        run: vercel pull --yes --environment=preview
      - name: Build
        run: vercel build
      - name: Deploy preview
        run: vercel deploy --prebuilt --yes
